* {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.relative-full {
  height: 100%;
  width: 100%;
  position: relative;
}

#everything-outer {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
  transition: background-color 500ms;
}

#everything-outer.flash {
  background-color: rgba(240, 240, 240, 1);
  transition: background-color 1ms;
}

#mouse-message-outer {
  z-index: 1010000;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: auto;
  max-width: 300px;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
}

#mouse-message-outer.hidden {
  opacity: 0;
}

#mouse-message-header {
  font-weight: 700;
  font-size: 35px;
}

#mouse-message {
  font-weight: 300;
  font-size: 20px;
}

.game-elem.start, .circle {
  position: absolute;
  background-color: rgba(200, 200, 200, 1);
  z-index: 100;
  transform: scale(1);
  border-radius: 100%;
  /*animation: entice 1s infinite;
  -webkit-animation: entice 1s infinite;*/
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
}

@keyframes entice {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.start.disabled, .circle.disabled, .moving-tile.disabled {
  transform: scale(0);
  animation: none;
  -webkit-animation: none;
}

.circle {
  height: 10vw;
  width: 10vw;
  z-index: -1;
  background-color: rgba(245, 245, 245, 1);
}

.pretty {
  transform: none;
  opacity: 1;
  transition: transform 0.25s, opacity 0.25s;
  -webkit-transition: transform 0.25s, opacity 0.25s;
}

.pretty-title {
  transition: transform 1s, opacity 1s;
  -webkit-transition: transform 1s, opacity 1s;
}

.delay1 {
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.delay2 {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.delay3 {
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}
.delay4 {
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}
.delay5 {
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.pretty.hidden {
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}

.pretty-title.hidden {
  transform: translateY(-50px) !important;
}

.pretty-invert.hidden {
  transform: translateY(20px) !important;
}

.pretty-invert-intro.hidden {
  transform: translateY(50px) !important;
}


/*game elements*/

#game-outer {
  position: absolute;
  height: 100vh;
  width: 100vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid black;
}

#hover-lose {
  position: absolute;
  height: 100vh;
  width: 100vh;
}

.vertical {
  height: 100vw !important;
  width: 100vw !important;
}

.game-elem {
  pointer-events: auto;
  position: absolute;
  display: block;
  z-index: 1;
}

.game-elem.end {
  background-color: green;
  z-index: 100 !important;
}

.end.hide-pointers {
  pointer-events: none !important;
  background-color: yellow;
}

.game-elem.left {
  background-color: blue;
  cursor: w-resize !important;
}

.game-elem.right {
  background-color: purple;
  cursor: e-resize !important;
}

.game-elem.up {
  background-color: orange;
  cursor: n-resize !important;
}

.game-elem.down {
  background-color: pink;
  cursor: s-resize !important;
}

.game-elem.hidden:not(.start):not(.moving-tile) {
  background-color: transparent !important;
}

.moving-tile {
  background-color: rgba(150, 150, 150, 1);
  transform: scale(1);
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
}

.game-elem.hide-pointers:not(.start):not(.end):not(.moving-tile) {
  cursor: auto !important;
}

#timer-outer {
  position: absolute;
  width: 100vw;
  height: 30px;
}

#timer-inner {
  float: left;
  height: 30px;
  background-color: rgba(225, 225, 225, 1);
  width: 0%;
  overflow: hidden;
  transition: width 1s, background-color 0.25s;
  -webkit-transition: width 1s, background-color 0.25s;
}

#timer {
  float: right;
  font-size: 25px;
  margin-right: 10px;
  color: white;
  font-weight: 100;
  opacity: 1;
  transition: opacity 0.5s;
}

#timer.hidden {
  opacity: 0;
}

#intro-outer, #message-outer, #end-outer {
  z-index: 10000;
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

#end-outer {
  z-index: 99999;
}

#fireworks-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.firework {
  height: 50px;
  width: 50px;
  background-color: rgba(220, 220, 220, 1);
  position: absolute;
  opacity: 1;
  transition: transform 0.5s, top 0.5s, left 0.5s;
  -webkit-transition: transform 0.5s, top 0.5s, left 0.5s;
}

.firework.inactive {
  left: 50% !important;
  top: 10% !important;
  opacity: 0 !important;
  transform: rotate(0deg) !important;
}

#message-outer.hidden, #end-outer.hidden, #intro-outer.hidden {
  opacity: 0;
  pointer-events: none;
}

.intro-title {
  text-align: center;
  font-size: 8vw;
  margin: 20px;
}

.intro-title > span {
  display: inline-block;
  position: relative;
}

.intro-subtitle {
  font-size: 4vw;
  text-align: center;
}

#intro-info, #gamemode-info {
  position: absolute;
  left: 20px;
  bottom: 40px;
  font-size: 15px;
  height: auto;
  width: auto;
  max-width: 300px;
}

#gamemode-info {
  left: auto;
  bottom: 85px;
  right: 170px;
  text-align: right;
  font-size: 15px;
}

.button {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 50px;
  padding: 5px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  transform: scale(1);
  background-color: rgba(150, 150, 150, 1);
  transition: transform 0.25s, opacity 0.25s;
  -webkit-transition: transform 0.25s, opacity 0.25s;
}

.button:hover {
  transform: scale(1.1);
}

#intro-button {
  bottom: 85px;
}

#gamemode-button {
  font-size: 20px;
  padding: 2.5px;
}

#quit-button {
  font-size: 15px;
  padding: 2.5px;
  bottom: 20px;
  right: 20px;
}

#score-outer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 15px;
  width: auto;
}

#score-outer > * {
  margin-right: 20px;
  display: inline-block;
}

#score {
  font-size: 15px;
  margin-right: 30px;
}

#stats {
  position: absolute;
  font-weight: 100;
  font-size: 50px;
  left: 50px;
  bottom: 50px;
  height: auto;
  width: auto;
}

#stats > li {
  list-style-type: none;
  font-size: 30px;
}
